/* Styles for the header */
.header {
  background-color: #122aff;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 64px;
}

.header h2 {
  margin: 0;
  font-size: 48px;
}

/* Styles for the body */
body {
  font-family: Arial, sans-serif;
  background-color: #122aff;
}

#message {
  font-size: 96px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
}
